/* prism-override.css */

code[class*="language-"],
pre[class*="language-"] {
    @apply !text-gray-600 dark:!text-white;
    background: none !important;
    text-shadow: none !important;
}

/* Code blocks */
pre[class*="language-"] {
	overflow: hidden;
	border: none;
	box-shadow: none;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
    @apply !text-blue-600 dark:!text-brand-primary;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    @apply !text-[#93652f] dark:!text-[#579ECD];
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    @apply !text-gray-600 dark:!text-white/60;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    @apply !text-[#865cbd] dark:!text-[#cc96ff];
}

.token.class-name,
.token.function {
    @apply !text-[#229389] dark:!text-[#57c3ad];
}